In [1]:
import pandas as pd

df = pd.read_csv('./OutEnv-hour.csv')

In [2]:
df

,Timestamp,OutEnv_OutdoorAmbTemp,OutEnv_RooftopWindDirection,OutEnv_RooftopWindSpeed
0,2013-07-01 00:00:00-04:00,23.073361,194.728814,2.155932
1,2013-07-01 01:00:00-04:00,22.756410,175.283333,1.813333
2,2013-07-01 02:00:00-04:00,22.456030,191.433333,2.123333
3,2013-07-01 03:00:00-04:00,22.169376,195.000000,1.920000
4,2013-07-01 04:00:00-04:00,21.852205,167.116667,1.788333
...,...,...,...,...
8756,2014-06-30 20:00:00-04:00,27.839133,189.316667,2.435000
8757,2014-06-30 21:00:00-04:00,26.986160,186.550000,2.385000
8758,2014-06-30 22:00:00-04:00,26.288886,170.983333,2.146667
8759,2014-06-30 23:00:00-04:00,25.783590,175.030303,1.703030
8760,2014-07-01 00:00:00-04:00,25.322551,183.000000,3.400000

In [3]:
df['OutEnv_OutdoorAmbTemp']

0       23.073361
1       22.756410
2       22.456030
3       22.169376
4       21.852205
          ...
8756    27.839133
8757    26.986160
8758    26.288886
8759    25.783590
8760    25.322551
Name: OutEnv_OutdoorAmbTemp, Length: 8761, dtype: float64

In [4]:
df['New_OutEnv_OutdoorAmbTemp'] = round(df['OutEnv_OutdoorAmbTemp'],0)

In [5]:
df['New_OutEnv_OutdoorAmbTemp']

0       23.0
1       23.0
2       22.0
3       22.0
4       22.0
        ...
8756    28.0
8757    27.0
8758    26.0
8759    26.0
8760    25.0
Name: New_OutEnv_OutdoorAmbTemp, Length: 8761, dtype: float64

In [6]:
df_new = df.loc[(df['Timestamp'] >= '2013-07-01') & (df['Timestamp'] < '2013-08-01')]

In [7]:
df_new

,Timestamp,OutEnv_OutdoorAmbTemp,OutEnv_RooftopWindDirection,OutEnv_RooftopWindSpeed,New_OutEnv_OutdoorAmbTemp
0,2013-07-01 00:00:00-04:00,23.073361,194.728814,2.155932,23.0
1,2013-07-01 01:00:00-04:00,22.756410,175.283333,1.813333,23.0
2,2013-07-01 02:00:00-04:00,22.456030,191.433333,2.123333,22.0
3,2013-07-01 03:00:00-04:00,22.169376,195.000000,1.920000,22.0
4,2013-07-01 04:00:00-04:00,21.852205,167.116667,1.788333,22.0
...,...,...,...,...,...
739,2013-07-31 19:00:00-04:00,25.078779,177.633333,2.363333,25.0
740,2013-07-31 20:00:00-04:00,23.494916,175.733333,3.925000,23.0
741,2013-07-31 21:00:00-04:00,21.433129,205.450000,2.726667,21.0
742,2013-07-31 22:00:00-04:00,20.909009,209.516667,2.415000,21.0
743,2013-07-31 23:00:00-04:00,20.736279,198.949153,2.967797,21.0

In [8]:
len(df_new['New_OutEnv_OutdoorAmbTemp'].unique())

21

In [9]:
c = []
for i in df_new['Timestamp']:
    c.append(i[8:10])

In [10]:
df_new.insert(5, 'day', c, True)

In [11]:
df_new

,Timestamp,OutEnv_OutdoorAmbTemp,OutEnv_RooftopWindDirection,OutEnv_RooftopWindSpeed,New_OutEnv_OutdoorAmbTemp,day
0,2013-07-01 00:00:00-04:00,23.073361,194.728814,2.155932,23.0,01
1,2013-07-01 01:00:00-04:00,22.756410,175.283333,1.813333,23.0,01
2,2013-07-01 02:00:00-04:00,22.456030,191.433333,2.123333,22.0,01
3,2013-07-01 03:00:00-04:00,22.169376,195.000000,1.920000,22.0,01
4,2013-07-01 04:00:00-04:00,21.852205,167.116667,1.788333,22.0,01
...,...,...,...,...,...,...
739,2013-07-31 19:00:00-04:00,25.078779,177.633333,2.363333,25.0,31
740,2013-07-31 20:00:00-04:00,23.494916,175.733333,3.925000,23.0,31
741,2013-07-31 21:00:00-04:00,21.433129,205.450000,2.726667,21.0,31
742,2013-07-31 22:00:00-04:00,20.909009,209.516667,2.415000,21.0,31
743,2013-07-31 23:00:00-04:00,20.736279,198.949153,2.967797,21.0,31

In [12]:
# create new df
dic = {}
for i in df_new['New_OutEnv_OutdoorAmbTemp'].unique():
    dic[i] = []

In [13]:
df_new['OutEnv_OutdoorAmbTemp'].isnull().sum()

0

In [14]:
import math
for event in df_new.itertuples():
    aux_eve = event[5]
    if not math.isnan(aux_eve):
        dic[aux_eve].append([event[6], event[0], event[1]])

In [15]:
len(dic)

21

In [16]:
bitmap = [ 30*"0" for i in range(len(dic))]

In [17]:
dic2 = {}

for key in dic:
    s = list(31*'0')
    for i in dic[key]:
        s[int(i[0])-1] = '1'
    dic2[key] = "".join(s)

In [18]:
dic2

{23.0: '1111101111111010000011111111111',
 22.0: '1010001100111000000001111111111',
 24.0: '1111111111101110000111011111111',
 26.0: '1111111111101111111111110111111',
 27.0: '1111111110101101111011110111110',
 25.0: '1111111111101111110111110101111',
 28.0: '0101111111101111111111110111000',
 29.0: '0011111111001111111101100000000',
 30.0: '0001111101000111111111100000000',
 31.0: '0001111001000111110110000000000',
 32.0: '0000010000000011111100000000000',
 21.0: '0000001100011000000000001111101',
 20.0: '0000000000011000000000001011111',
 19.0: '0000000000010000000000001100111',
 33.0: '0000000000000011111100000000000',
 34.0: '0000000000000010011000000000000',
 35.0: '0000000000000000011000000000000',
 18.0: '0000000000000000000000001100110',
 17.0: '0000000000000000000000001100110',
 16.0: '0000000000000000000000001000010',
 15.0: '0000000000000000000000001000000'}

In [19]:
df_dev = pd.DataFrame(columns = ['Event', 'TemporalSeqAndIntervals', 'Bitmap'])
for key in dic:
    new_row = pd.DataFrame([{'Event':key, 'TemporalSeqAndIntervals':dic[key], 'Bitmap':dic2[key]}])
    df_dev = pd.concat([df_dev, new_row], axis=0, ignore_index=True)

In [20]:
df_dev

,Event,TemporalSeqAndIntervals,Bitmap
0,23.0,"[[01, 0, 2013-07-01 00:00:00-04:00], [01, 1, 2...",1111101111111010000011111111111
1,22.0,"[[01, 2, 2013-07-01 02:00:00-04:00], [01, 3, 2...",1010001100111000000001111111111
2,24.0,"[[01, 9, 2013-07-01 09:00:00-04:00], [01, 10, ...",1111111111101110000111011111111
3,26.0,"[[01, 14, 2013-07-01 14:00:00-04:00], [01, 19,...",1111111111101111111111110111111
4,27.0,"[[01, 15, 2013-07-01 15:00:00-04:00], [01, 16,...",1111111110101101111011110111110
5,25.0,"[[01, 21, 2013-07-01 21:00:00-04:00], [01, 22,...",1111111111101111110111110101111
6,28.0,"[[02, 37, 2013-07-02 13:00:00-04:00], [04, 84,...",0101111111101111111111110111000
7,29.0,"[[03, 62, 2013-07-03 14:00:00-04:00], [03, 63,...",0011111111001111111101100000000
8,30.0,"[[04, 86, 2013-07-04 14:00:00-04:00], [04, 87,...",0001111101000111111111100000000
9,31.0,"[[04, 88, 2013-07-04 16:00:00-04:00], [05, 112...",0001111001000111110110000000000
10,32.0,"[[06, 133, 2013-07-06 13:00:00-04:00], [06, 13...",0000010000000011111100000000000
11,21.0,"[[07, 165, 2013-07-07 21:00:00-04:00], [07, 16...",0000001100011000000000001111101
12,20.0,"[[12, 267, 2013-07-12 03:00:00-04:00], [12, 26...",0000000000011000000000001011111
13,19.0,"[[12, 269, 2013-07-12 05:00:00-04:00], [12, 27...",0000000000010000000000001100111
14,33.0,"[[15, 350, 2013-07-15 14:00:00-04:00], [15, 35...",0000000000000011111100000000000
15,34.0,"[[15, 351, 2013-07-15 15:00:00-04:00], [15, 35...",0000000000000010011000000000000
16,35.0,"[[18, 422, 2013-07-18 14:00:00-04:00], [18, 42...",0000000000000000011000000000000
17,18.0,"[[25, 579, 2013-07-25 03:00:00-04:00], [25, 58...",0000000000000000000000001100110
18,17.0,"[[25, 580, 2013-07-25 04:00:00-04:00], [25, 58...",0000000000000000000000001100110
19,16.0,"[[25, 582, 2013-07-25 06:00:00-04:00], [30, 70...",0000000000000000000000001000010
20,15.0,"[[25, 583, 2013-07-25 07:00:00-04:00], [25, 58...",0000000000000000000000001000000

In [21]:
# Drop temperatures with less than threshold ocurrences
threshold = 5
index = 0
delete_rows = []
for entry in df_dev['Bitmap']:
    ocurrence = 0
    for bit in entry:
        if bit == '1':
            ocurrence = ocurrence + 1
    if ocurrence < threshold:
        delete_rows.append(index)
    index = index + 1
df_dev = df_dev.drop(delete_rows)
print(df_dev)

    Event                            TemporalSeqAndIntervals  \
0    23.0  [[01, 0, 2013-07-01 00:00:00-04:00], [01, 1, 2...
1    22.0  [[01, 2, 2013-07-01 02:00:00-04:00], [01, 3, 2...
2    24.0  [[01, 9, 2013-07-01 09:00:00-04:00], [01, 10, ...
3    26.0  [[01, 14, 2013-07-01 14:00:00-04:00], [01, 19,...
4    27.0  [[01, 15, 2013-07-01 15:00:00-04:00], [01, 16,...
5    25.0  [[01, 21, 2013-07-01 21:00:00-04:00], [01, 22,...
6    28.0  [[02, 37, 2013-07-02 13:00:00-04:00], [04, 84,...
7    29.0  [[03, 62, 2013-07-03 14:00:00-04:00], [03, 63,...
8    30.0  [[04, 86, 2013-07-04 14:00:00-04:00], [04, 87,...
9    31.0  [[04, 88, 2013-07-04 16:00:00-04:00], [05, 112...
10   32.0  [[06, 133, 2013-07-06 13:00:00-04:00], [06, 13...
11   21.0  [[07, 165, 2013-07-07 21:00:00-04:00], [07, 16...
12   20.0  [[12, 267, 2013-07-12 03:00:00-04:00], [12, 26...
13   19.0  [[12, 269, 2013-07-12 05:00:00-04:00], [12, 27...
14   33.0  [[15, 350, 2013-07-15 14:00:00-04:00], [15, 35...

                             Bitmap
0   1111101111111010000011111111111
1   1010001100111000000001111111111
2   1111111111101110000111011111111
3   1111111111101111111111110111111
4   1111111110101101111011110111110
5   1111111111101111110111110101111
6   0101111111101111111111110111000
7   0011111111001111111101100000000
8   0001111101000111111111100000000
9   0001111001000111110110000000000
10  0000010000000011111100000000000
11  0000001100011000000000001111101
12  0000000000011000000000001011111
13  0000000000010000000000001100111
14  0000000000000011111100000000000

In [22]:
# Drop temperatures with less than threshold ocurrences
threshold = 5
index = 0
delete_rows = []
for entry in df_dev['Bitmap']:
    ocurrence = 0
    for bit in entry:
        if bit == '1':
            ocurrence = ocurrence + 1
    if ocurrence < threshold:
        delete_rows.append(index)
    index = index + 1
df_dev = df_dev.drop(delete_rows)
print(df_dev)

    Event                            TemporalSeqAndIntervals  \
0    23.0  [[01, 0, 2013-07-01 00:00:00-04:00], [01, 1, 2...
1    22.0  [[01, 2, 2013-07-01 02:00:00-04:00], [01, 3, 2...
2    24.0  [[01, 9, 2013-07-01 09:00:00-04:00], [01, 10, ...
3    26.0  [[01, 14, 2013-07-01 14:00:00-04:00], [01, 19,...
4    27.0  [[01, 15, 2013-07-01 15:00:00-04:00], [01, 16,...
5    25.0  [[01, 21, 2013-07-01 21:00:00-04:00], [01, 22,...
6    28.0  [[02, 37, 2013-07-02 13:00:00-04:00], [04, 84,...
7    29.0  [[03, 62, 2013-07-03 14:00:00-04:00], [03, 63,...
8    30.0  [[04, 86, 2013-07-04 14:00:00-04:00], [04, 87,...
9    31.0  [[04, 88, 2013-07-04 16:00:00-04:00], [05, 112...
10   32.0  [[06, 133, 2013-07-06 13:00:00-04:00], [06, 13...
11   21.0  [[07, 165, 2013-07-07 21:00:00-04:00], [07, 16...
12   20.0  [[12, 267, 2013-07-12 03:00:00-04:00], [12, 26...
13   19.0  [[12, 269, 2013-07-12 05:00:00-04:00], [12, 27...
14   33.0  [[15, 350, 2013-07-15 14:00:00-04:00], [15, 35...

                             Bitmap
0   1111101111111010000011111111111
1   1010001100111000000001111111111
2   1111111111101110000111011111111
3   1111111111101111111111110111111
4   1111111110101101111011110111110
5   1111111111101111110111110101111
6   0101111111101111111111110111000
7   0011111111001111111101100000000
8   0001111101000111111111100000000
9   0001111001000111110110000000000
10  0000010000000011111100000000000
11  0000001100011000000000001111101
12  0000000000011000000000001011111
13  0000000000010000000000001100111
14  0000000000000011111100000000000